.friendList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.item {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  list-style: none;
  border: 1px solid black;
  box-shadow: 1px 5px 10px black;
}
.status {
  border-radius: 99999px;
  background-color: red;
  width: 20px;
  height: 20px;
}
.active {
  background-color: green;
}
.avatar {
  height: 48px;
  border-radius: 16px;
}
.name {
  margin: 0;
}
