.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}
.title {
  text-transform: uppercase;
}
.statList {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
